.Info {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    position: absolute;
    padding: 0 5px;
    border-radius: 6px;
    width: 100px;
    top: 35%;
    left: 100%;
    z-index: 1;
}

.Info:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--main-bg-color);
    left: -8px;

    top: 65px;
}
