.Header {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.Header-header {
  width: 100%;
}

.Header-topbar {
  height: 60%;
}

.Header-children {
  height: 40%;
}
